* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.controls {
  display: flex;
  line-height: 1cm;
  border: 1px solid #ddd;
}

.links {
  display: flex;
  line-height: 1cm;
  border: 1px solid #ddd;
}

.todo-form {
  line-height: 1cm;
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
}

table,
th,
td {
  border: 5px solid #ddd;
}
